* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.logo {
    padding: 10px 10px;
    width: 150px;
    height: 42px;
}

.top-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-bottom: 1px solid #D1D2D5;
    padding: 10px;
}

.hidden {
    /* visibility: hidden; */
    display: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #6799ff;
    text-transform: uppercase;
}
