* {
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Helper Class*/

.hidden {
  /* visibility: hidden; */
  display: none;
}


/* Top Nav Section */

.hamburger {
  width: 48px;
  height: 42px;
  border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef;
  padding: 10px 10px;
}

.hamburger-stripe {
  background-color: #6799ff;
  height: 3px;
  margin-bottom: 5px;
}

.logo {
  padding: 10px 10px;
  width: 150px;
  height: 42px;
}


.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: 1px solid #D1D2D5;
  padding: 10px;
}



/* Menu styles*/

.main-nav ul {
  list-style-type: none;  
  margin: 0px;
  padding: 0px;
    
  }
  
  nav  ul  li {
  width: 100%;
  margin: 10px 0px 0px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CFD1D4;
  }
  
  nav:nth-child(2) a {
  color: black;
  text-transform: none;
  display: block;
  text-align: left;
  }
  
  
  nav ul li a {
    text-decoration: none;
    color: #6799ff;
    text-transform: uppercase;
    padding-left: 15px;
    padding-top:10px
  }
  
  /* Sub-Menu styles */
  
  nav nav {
  margin-top: 0px;  
  }
  
  nav nav li {
    background-color: #F9FBFF;
    margin: 0;
    border: none;
    padding-left: 0;        
    padding-bottom: 10px;
  }
  
  .main-nav nav ul {
    position:relative;
    bottom: -15px;
  }
  
  nav nav img {
    display: none;
  }



  @media (min-width: 992px) {
    .logo {
      position: absolute;
      left: 2%;
    }

    .hamburger {
      display: none;
    }

    .top-nav {
      justify-content: flex-start;
      width: 20%;
      border: none;
 
    }

    .main-nav {
      display: block;
      width: 80%;
    }

    .main-nav ul {
      display: flex;
      
    }

    .top-container {
      display: flex;
      justify-content: flex-start;

    }

    nav ul li {
      border: none;
      width: auto;
    }
    
    nav ul.top-ul > li:last-of-type {
      position: absolute;
      right: 2%;
    }
    
    nav nav ul  {
      display: flex;
      justify-content: space-around;
      background-color: #F9FBFF; 
    }

    nav nav ul li {
      
    }

    nav nav img {
      display: block;
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    
    nav nav {
      position: absolute;
      width: 100%;
      left: 0;
    }
  }